extends layout

block content
  //h1= title
  .w3-card-4
  header.w3-container.w3-cyan 
    h2 TO-DO app!
  .w3-container.w3-padding-16
    form.w3-container(action="/add/task" method='POST')
      fieldset
        legend Register To-do!
        label Id
        input.w3-input.w3-round(type='number' readonly value= idT name='id')
        // ver maneira de omitir isto -> 
        label Due Date
        input.w3-input.w3-round(type='date' name='due_date')
        label Utilizador
          select.w3-select.w3-round(name='who')
            option(value='' disabled='' select='') 
              each u in uList
                option.w3-center #{u.name}
        label Tarefa
        input.w3-input.w3-round(type="text" name="what_task") 
      button.w3-btn.w3-blue.w3-mb-2.w3-margin(type="submit") Submit!
  .w3-container.w3-padding-16      
    form.w3-container(action="/add/user" method='POST')
      fieldset
        legend Register User!
        label Id
        input.w3-input.w3-round(type="number" readonly value= idU name='id')
        label Name
        input.w3-input.w3-round(type="text" name="name")
      button.w3-btn.w3-blue.w3-mb-2.w3-margin(type="submit") Register!
  .w3-container.w3-cell.w3-border(style="width:50%")
    h2 Tarefas por fazer:
    table.w3-table-all
      tr
        th Descrição
        th Reponsável
        th Data Limite
        th Botões
      each t in tList
        if t.done == 0
          tr
            td= t.what_task
            td= t.who
            td= t.due_date
            td
              button.w3-btn.w3-round.w3-indigo.w3-margin-left
                a(href="/task/edit/"+t.id) Edit
              button.w3-btn.w3-round.w3-indigo.w3-margin
                a(href="/task/delete/"+t.id) Delete
              button.w3-btn.w3-round.w3-indigo.w3-margin
                a(href="/task/done/"+t.id) Done
  .w3-container.w3-cell.w3-border(style="width:50%")
    h2 Tarefas feitas:
    table.w3-table-all
      tr
        th Descrição
        th Reponsável
        th Data Limite
        th Botões
      each t in tList
        if t.done == 1
          tr
            td= t.what_task 
            td= t.who
            td= t.due_date
            td
              button.w3-btn.w3-round.w3-indigo.w3-margin  
                a(href="/task/delete/"+t.id) Delete
  footer.w3-container.w3-cyan
    h5 TPC 5 de EngWeb - Simão Barroso - #{d}
